FOUNDRY_PROJECT_ENDPOINT=
FOUNDRY_MODEL_DEPLOYMENT_NAME=
MBG_COORDINATOR_AGENT_NAME=MBGCoordinator
FINANCIAL_REPORT_AGENT_NAME=FinancialReport
NEWS_AGENT_NAME=News
MARKET_RESEARCH_AGENT_NAME=MarketResearch
MACRO_AGENT_NAME=Macro
ASSET_MANAGER_AGENT_NAME=AssetManager
MBG_COORDINATOR_ENDPOINT=
FINANCIAL_REPORT_ENDPOINT=
NEWS_ENDPOINT=
MARKET_RESEARCH_ENDPOINT=
MACRO_ENDPOINT=
ASSET_MANAGER_ENDPOINT=
AGENT_PROTOCOL=responses
ALLOW_PREVIEW_A2A=false
ANALYSIS_MODE=analysis_only
APPLICATIONINSIGHTS_CONNECTION_STRING=
RUN_LIVE_FOUNDRY_TESTS=false
