azure-identity==1.25.3
azure-storage-blob==12.30.0
ipykernel==7.3.0
lightgbm==4.6.0
numpy==2.3.3
pandas==2.3.2
psycopg[binary]==3.2.9
pyarrow==21.0.0
pytest==8.4.2
python-dotenv==1.1.1
redis==6.4.0
scikit-learn==1.7.1
SQLAlchemy==2.0.43



